<!DOCTYPE html>
<html>

<head>
  <title>Search - Test Pexel App</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="manifest" href='manifest.json'>
  <link rel="apple-touch-icon" href=''>
  <link rel="apple-mobile-web-app-status-bar" content='#000000'>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <style>
    .s004 {
      background: url("<%= data.photos[0].src.medium%>") !important;
      background-repeat: no-repeat;
    }
  </style>
</head>

<body>
  <div id="app" class='h-100'>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <h1><a class="navbar-brand" href="/"><img src="/images/icons/icon.svg">Test-Pexel</a></h1>
    </nav>
    <div class="s004">
      <form>
        <fieldset>
          <legend>WHAT PICTURES DO YOU SEEK?</legend>
          <div class="inner-form">
            <div class="input-field">
              <input class="form-control w-100" type="text" placeholder="Type to search..." v-model='searchQuery' />
              <button @click='search' class="btn-search" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                  </path>
                </svg>
              </button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>

</body>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/choices.js"></script>

</html>